# 复制为：~/Library/Application Support/W200DS/ubuntu26/config
# 文件权限必须为 0600。不要把真实值提交到 Git。

ANDROID_SERIAL='replace-with-adb-serial'
SSH_KEY="$HOME/Library/Application Support/W200DS/ubuntu26/ssh/id_ed25519"
KNOWN_HOSTS="$HOME/Library/Application Support/W200DS/ubuntu26/ssh/known_hosts"

SSH_USER='ubuntu'
LOCAL_SSH_PORT=2222
GUEST_SSH_PORT=2222
EXPECTED_DISK_BYTES=68719476736
