<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="中兴 GMS 优化守卫"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Clash/VPN 使用期间阻止中兴 GoogleOptimizer 误封 Google Play；VPN 关闭后恢复原厂省电策略" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
